*.
html

body {
    background-color:aquamarine;
}

.CONTAINER-NAVBAR {
    background-color:rgb(30, 175, 175);
    width: 100%;
    height: 100px;
}

.ul-navbar {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: rgb(0, 153, 255);
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 3px;
}
.a-navbar {
    color: aliceblue;
    text-decoration: none;
}

.container-content {
    width: 100%;
    height: 65vh;
    background-color: rgb(2, 252, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-content {
    background-color: aliceblue;
    width: 520px;
    height: 280px;
    color: rgb(7, 7, 7);
    text-decoration: none;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.container-footer {
    background-color: rgba(0, 150, 150, 0.575);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}